:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors palette */
  --white: #f5f3f1;
  --orange-bg: #ff8000;
  --black-text: #242e30;
  --orange-text: #f36805;
  --light-grey: #efedea;
}
