.reglogSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90vh;
  max-width: 1400px;
  margin: 0 auto;
}

.reglogSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--orange-bg);
  filter: blur(1px);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.contentSection {
  width: 80%;
  display: flex;
}

.leftSide,
.rightSide {
  flex: 1;
  padding: 20px;
  text-align: center;
  color: #131313;
}

.leftSide {
  padding-top: 150px;
  padding-bottom: 150px;
}
.rightSide {
  background-color: rgb(255, 255, 255);
}
.leftSide h1 {
  font-size: 2em;
}

.leftSide p {
  font-size: 1.2em;
}

.rightSide h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
